APPLICATION_ID="com.discord"
APP_NAME="Discord"
HOST="https://discord.com"
HOST_ALTERNATE="https://discordapp.com"
HOST_API="https://discord.com/api/"
HOST_CDN="https://cdn.discordapp.com"
HOST_DEVELOPER_PORTAL="http://discord.com/developers"
HOST_GIFT="https://discord.gift"
HOST_GUILD_TEMPLATE="https://discord.new"
HOST_INVITE="https://discord.gg"
HOST_MEDIA_PROXY="https://media.discordapp.net"
